<div class="small-12 large-5 large-centered columns">

<a href="<%= adminpanel_path %>">
    <i class="fa fa-arrow-circle-o-left"></i>
    Back
</a>
<h1>Edit League</h1>


<%= render 'leagueform' %>


</div>
