<table>
  <tr>
  <th>Store</th>
  <th>Total Orders</th>
  </tr>

  <% @stores.order("total_orders").reverse.each do |store| %>
  <tr>
    <td><%= store.myshopify_domain %></td>
    <td><%= store.total_orders %></td>
  </tr>
  <% end %>

</table>