/* Global Leaderboard Page Styling */

.row {
}

.row .row {
  margin-left: auto;
  margin-right: auto;
}

.row canvas {
  display: block;
  margin: 0 auto;
}


/* Leaderboard Top */

.leaderboard {
  display: block;
	margin: 0 auto 3em auto;
}

#leaderline {
  margin-bottom: 0;
}

#leaderboard {
  margin-top: 20px;
}

#leaderboard h1 {
  margin-bottom: -20px;
}

.points-yesterday {
  background-color: #1ABC9C;
  padding: 15px 15px 50px;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;

}

.points-yesterday h1 {
  color: #fff;
  font-weight: 600;
  padding-bottom: 8px;
  margin-bottom: 10px;

}

.points-week {
  background-color: #E67E22;
  padding: 15px 15px 50px;
  color: #fff;
  text-align: center;
}

.points-week h1 {
  color: #fff;
  font-weight: 600;
  padding-bottom: 8px;
}

/* Standings Table */

#standings td {
	line-height: 35px; 
  text-align: center;
}

#standings td:first-child {
  line-height: 35px;
  width: 35px; 
}

#standings {
  border: 3px solid #34495E;
  border-top: none;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 30px;
}

.leaguestats {
	margin-bottom: 3em;
}

#table_title {
  margin: 0 auto;
  padding: 2px 0 2px 0;
  color: white;
  background-color: #34495E;
  text-align: center;
  font-weight: 600;
}

/* Charts */ 

.linechart {
	margin-bottom: 3em;
}

.barchart {
	text-align:center;
	margin-bottom: 3em;
}

.linetitle {
  margin: 0 auto;
  padding: 2px 0 2px 0;
  color: white;
  background-color: #2ECC71;
  text-align: center;
  font-weight: 600;
  width: 590px;
}

#LineChart {
  border: 3px solid #2ECC71;
  border-top: none;
  padding: 5px;
}

.bartitle {
  margin: 0 auto;
  padding: 2px 0 2px 0;
  color: white;
  background-color: #C0392B;
  text-align: center;
  font-weight: 600;
  width: 590px;
}

#BarChart {
  border: 3px solid #C0392B;
  border-top: none;
}

/* League Info Box */

#leagueinfo {
  position: relative;
  background-color: #3498DB;
  margin-bottom: 10px;
}

#leagueinfo h2, h6 {
  padding-left: 25px;
}

#leagueinfo h2 {
  color: white;
  font-weight: 600;
  padding-top: 15px;
}

#leagueinfo h6 {
  color: white;
}

#infobutton {
  margin: 10px 0 0 0;
  padding: 10px 0 10px 0;
  background-color: #2980B9;

}

#infobutton a {
  font-weight: 100;
  -webkit-transition: background-color 300ms ease-out;
  background-color: #2980B9;
}

#infobutton:hover {
  background-color: darken(#2298DA, 10%); 
  -webkit-transition: background-color 300ms ease-out;
}

#leagueinfo a {
  min-width: 100%;
  color: white;
  font-weight: 300;
}

#clock {
  position: absolute;
  opacity: 0.7;
  color: white;
  top: 6%;
  right: 5%;
}

/* League Stats */

.leaguestats table {
  border: none;
}

.leaguestats tr:first-child h1 {
  text-align: center;
  margin-bottom: 6px !important;
  color: white;
  font-weight: 600;

}

.leaguestats tr:first-child {
  background-color: lighten(#52BD4F, 25%);
}

.leaguestats tr:nth-child(2) {
  background-color: #43B446;
  color: white;
  position: relative;
}

.leaguestats tr:nth-child(2) td, h5 {
  color: white;
}

.tableicon {
  opacity: 0.7;
  float: right;
  margin-top: -30px;
}