/* Global Leaderboard Page Styling */

.row {
}

.row .row {
  margin-left: auto;
  margin-right: auto;
}

.row canvas {
  display: block;
  margin: 0 auto;
}


/* Leaderboard Top */

.paneltop {
  margin-bottom: 20px;
}

.leaderboard {
  display: block;
	margin: 0 auto 3em auto;
}

#leaderline {
  margin-bottom: 0;
}

#leaderboard {
  margin-top: 20px;
}

#leaderboard h1 {
  margin-bottom: -20px;
}

.py-info {
border-radius: 2px;
border: 2px solid #eaeef1;
box-shadow: 0px 5px 1px #eaeef1;
border-top: 0px;
background-color: #fff;
word-wrap: break-word;
}

.py-info h4 {
  padding: 20px 1px;
  color: #6F6F6F;
  font-weight: 500;

}

#lg {
  padding: 25px;
}


.points-yesterday {
  background-color: #1ABC9C;
  padding: 25px;
  color:  rgba(255, 255, 255, 0.8);
  text-align: center;
}

.points-yesterday h1 {
  color: #fff;
  font-weight: 600;
  padding-bottom: 8px;
  margin-bottom: 10px;

}

.points-week {
  background-color: #E67E22;
  padding: 25px;
  color:  rgba(255, 255, 255, 0.8);
  text-align: center;
}

.league-info {
  background-color: #3498DB;
  padding: 25px;
  color: #fff;
}

.points-week h1 {
  color: #fff;
  font-weight: 600;
  padding-bottom: 8px;
}

/* Standings Table */

#standings td {
	line-height: 35px; 
  text-align: center;
}

#standings td:first-child {
  line-height: 35px;
  width: 35px; 
}

#standings {
  border-radius: 2px;
  border: 2px solid #eaeef1;
  box-shadow: 0px 5px 1px #eaeef1;
  border-top: 0px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 30px;

}

.leaguestats {
	margin-bottom: 3em;
}

#table_title {
  margin: 0 auto;
  padding: 25px;
  color: white;
  background-color: #34495E;
  text-align: center;
  font-weight: 300;
}

/* Charts */ 

.linechart {
	margin-bottom: 3em;
}

.barchart {
	text-align:center;
	margin-bottom: 3em;
}

.linetitle {
  margin: 0 auto;
  padding: 20px;
  color: white;
  background-color: #2ECC71;
  text-align: left;
  font-weight: 300;
  width: 590px;
}

#LineChart {
  border-radius: 2px;
  border: 2px solid #eaeef1;
  box-shadow: 0px 5px 1px #eaeef1;
  border-top: 0px;
  background-color: #fff;
  padding: 5px;
}

.bartitle {
  margin: 0 auto;
  padding: 20px;
  color: white;
  text-align: left;
  background-color: #C0392B;
  font-weight: 300;
  width: 590px;
}

#BarChart {
  border-radius: 2px;
  border: 2px solid #eaeef1;
  box-shadow: 0px 5px 1px #eaeef1;
  border-top: 0px;
  background-color: #fff;
}

/* League Info Box */

#leagueinfo {
  position: relative;
  background-color: #3498DB;
  margin-bottom: 10px;
  min-height: 230px;
}

#leagueinfo h2, h6 {
  padding-left: 25px;
}

.league-info h3 {
    color:  rgba(255, 255, 255, 0.9);
}

#leagueinfo h6 {
  color: white;
}

#infobutton {
  margin: 10px 0 0 0;
  padding: 10px 5px 10px 5px;
  background-color: #2980B9;

}

#infobutton a {
  font-weight: 100;
  -webkit-transition: background-color 300ms ease-out;
  background-color: #2980B9;
}

#infobutton:hover {
  background-color: darken(#2298DA, 10%); 
  -webkit-transition: background-color 300ms ease-out;
}

#leagueinfo a {
  min-width: 100%;
  color: white;
  font-weight: 300;
}

#clock {
  position: absolute;
  opacity: 0.7;
  color: white;
  top: 6%;
  right: 5%;
}

/* League Stats */

.leaguestats table {
  border: none;
}

.leaguestats tr:first-child h1 {
  text-align: center;
  margin-bottom: 6px !important;
  color: white;
  font-weight: 600;

}

.leaguestats tr:first-child {
  background-color: lighten(#52BD4F, 25%);
}

.leaguestats tr:nth-child(2) {
  background-color: #43B446;
  color: white;
  position: relative;
}

.leaguestats tr:nth-child(2) td, h5 {
  color: white;
}

.tableicon {
  opacity: 0.7;
  float: right;
  margin-top: -30px;
}