#background {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  background-color: #1abc9c;
}

#logo {
  display: block;
  text-align: center;
  left: 0;
  top: 0;
  color: white;
  font-size: 2.9em;
  font-family: "Open Sans";
  font-weight: 300;
  margin: 40px 0 -70px 0;
}

.bg {
  background-color: #4D4E52;
  width: 30em;
  margin: 7em auto ;
  padding: 10px;
  font-family: "Open Sans";
  font-weight: 200;
  color: white;
  -webkit-box-shadow: 6px 6px 50px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 6px 6px 50px 0px rgba(0,0,0,0.5);
  box-shadow: 6px 6px 50px 0px rgba(0,0,0,0.5);
}

.bg a:hover {
  color: #6DAB4A;
}

#stud {
  width: 50%;
  float: left;
  text-align: center;
  margin-top: 20px;
}

#adm {
  width: 50%;
  float: left;
  text-align: center;
  margin-top: 20px;
}

#tabbox a {
  color: #333;
  text-shadow: 0px 2px 5px #555;
  margin: 10px;
}

#student {
  padding: 0 auto;
}

#loginbutton {
  font-family: "Open Sans";
  font-weight: 200;
  padding: 10px 45px 10px 45px;
  margin: 0 0 10px 30px;
}

#loginbutton a:hover{
  color: white;
}

#adminbox {
  display: none;
}

#adminbox a {
  color: white;
  font-weight: 200;
}

#admina a:hover {
  color: #6DAB4A;
}

#url.btn-large {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.btn-large {
  border: none;
  background-color: #6DAB4A;
  color: white;
  padding: 7px 35px 7px 35px;
  font-size: 1em;
  font-family: "Open Sans";
  font-weight: 200;
  margin: 0 auto;
  display: block;
  -webkit-transition: background-color 300ms ease-out;
}

.btn-primary:hover {
  background-color: darken(#6DAB4A, 10%); 
  -webkit-transition: background-color 300ms ease-out;
}

#spacer {
  height: 170px;
}

.select {
  color: white !important;
  font-weight: 300 !important;
}

.vc-title {
  font-size: 0.8rem;
}

#shopifylogo img {
  margin-top: -50px;
  max-width: 130px;
}

#alert1 {
  background-color: lighten(#0F778F, 10%);
  border: none;
  max-width: 350px;
  max-height: 60px;
  text-align: center;
  padding: 2px;
  font-weight: 200;
  border-radius: 0px;
  -webkit-border-radius: 0px;
}

#notice1 {
  background-color: lighten(#0F778F, 10%);
  border: none;
  max-width: 350px;
  max-height: 60px;
  text-align: center;
  padding: 2px;
  font-weight: 200;
  border-radius: 0px;
  -webkit-border-radius: 0px;
}

#shopifyurl {
  margin: 0;
}

#urlsubmit {
  margin-top: 1rem;
}

#muted a {
  color: #0E77AD;
  font-weight: 500;
}

.btn1 {
  border: none;
  font-family: inherit;
  font-size: 18px;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 20px 35px;
  margin: 0 auto;
  display: block;  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn1:hover {
  background:#EEB011;
  color:#fff;
}

.btn-7 {
background: #F7E948;
color: #504F4F;
border-radius: 7px;
box-shadow: 0 5px #BD8B0A;
}

